@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Noto-sans", system-ui, sans-serif;
		font-size: 16px;
	}
	h1 {
		@apply text-4xl;
		/* 36px */
	}
	h2 {
		@apply text-3xl;
		/* 30px */
	}
	h3 {
		@apply text-xl xl:text-2xl;
		/* 24px */
	}
	h4 {
		@apply text-xl;
		/* 20px */
	}
	h5 {
		@apply text-base;
		/* 16px */
	}
	h6 {
		@apply text-sm;
		/* 14px */
	}
	p {
		@apply text-base;
	}
	body {
		@apply m-0 p-0 bg-bgDefault text-gray-500;
	}
}

@layer components {
	input {
		@apply border border-gray-300 rounded-md py-2 px-4 focus:outline-baseGreen text-xs text-black font-normal;
	}
	label {
		@apply font-semibold text-gray-500;
	}
	textarea {
		@apply border border-gray-300 px-4 rounded-md py-2 focus:outline-baseGreen h-72 min-h-72;
	}

	.mainStage {
		@apply pl-4 w-full;
	}
	.mainStage h1 {
		@apply mb-6 font-semibold;
	}

	.stage-container {
		@apply flex;
	}

	.input-search-box {
		@apply outline-none focus:outline-none border-0;
	}

	.login-box {
		@apply bg-white max-w-96 mx-auto px-4 mt-20 pb-12 flex flex-col justify-center border border-gray-300;
	}

	.myContainer {
		@apply px-4 md:px-8 2xl:px-10 max-w-screen-2xl mx-auto;
	}
	.tombol {
		@apply text-white text-center flex justify-center items-center bg-baseGreen px-4 py-2 text-sm hover:bg-baseOrange w-fit min-w-[10rem] rounded-md font-semibold;
	}
	.tombol-lg {
		@apply text-white text-center flex justify-center items-center bg-baseGreen px-8 py-3 border-2 border-baseGreen hover:border-baseOrange text-base hover:bg-baseOrange w-fit min-w-[10rem] rounded-md font-semibold cursor-pointer;
	}
	.tombol-block {
		@apply text-white text-center flex justify-center items-center bg-baseGreen px-4 py-2 text-sm hover:bg-baseOrange w-full rounded-md font-semibold;
	}
	.tombol-sedeng {
		@apply px-8 py-4 text-xl font-semibold;
	}
	.tombol-info {
		@apply text-baseGreen hover:text-white hover:border-white text-center flex justify-center items-center border-2 border-baseGreen px-4 py-2 text-base hover:bg-baseOrange w-fit min-w-[10rem] rounded-md font-semibold;
	}
	.tombol-info-block {
		@apply text-baseGreen hover:text-white hover:border-white text-center flex justify-center items-center px-4 py-2 text-sm hover:bg-baseOrange w-full rounded-md font-semibold border-2 border-baseGreen;
	}
	.tombol-lg-info {
		@apply text-baseGreen hover:text-white hover:border-white text-center flex justify-center items-center border-2 border-baseGreen px-8 py-3 text-base hover:bg-baseOrange w-fit min-w-[10rem] rounded-md font-semibold;
	}
	.widget {
		@apply bg-baseGreen text-white flex justify-center items-center h-10 w-full rounded;
	}
	.text-btn {
		@apply text-white bg-baseGreen px-6 py-px text-sm flex justify-center items-center w-fit hover:bg-baseOrange font-semibold rounded-lg;
	}
	.text-btn-outline-gray {
		@apply text-gray-600 border-2 border-gray-300 px-6 py-px text-sm flex justify-center items-center w-fit hover:bg-baseOrange font-semibold rounded-lg;
	}
	.subtext-info {
		@apply text-gray-600 text-xs;
	}
	.subtext-primary {
		@apply text-baseGreen text-xs font-semibold;
	}
	.subtext-success {
		@apply text-blue-500 text-xs font-semibold;
	}
	.subtext-danger {
		@apply text-red-500 text-sm font-semibold;
	}
	.featureBox {
		@apply flex flex-col border border-gray-200 py-20 px-4 shadow-gray-300 shadow-xl items-center gap-6 text-center;
	}
	.menuList {
		@apply cursor-pointer rounded-md p-1 text-baseGreen font-bold hover:bg-baseOrange hover:text-white;
	}
	.navbar {
		@apply sticky top-0 backdrop-blur-sm bg-white/30 border-b-2 border-slate-100 z-30 h-fit py-4 flex items-center;
	}
	.navbarMenuLink {
		@apply text-link;
	}
	.drawerHover {
		@apply hover:text-white hover:bg-baseGreen;
	}
	.drawerSelected {
		@apply text-white bg-baseOrange;
	}
	.promotionThumbnails {
		@apply grid grid-cols-2 md:grid-cols-3 gap-4;
	}
	.promotionOverviewContainer {
		@apply flex flex-col justify-start py-8 md:px-8;
	}
	.promotionDetailContainer {
		@apply flex flex-col justify-start py-8 md:px-32;
	}
	.pageOverviewHeading {
		@apply self-start font-semibold underline-50 pb-4 text-baseGreen;
	}
	.thumbnailContainer {
		@apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 py-4;
	}

	.action-button {
		@apply flex justify-center items-center text-center px-4 py-2 text-sm w-fit rounded-md font-semibold;
	}
	.action-button-primary {
		@apply text-white bg-baseGreen hover:bg-baseOrange;
	}
	.action-button-disabled {
		@apply border border-gray-300 bg-gray-200 text-gray-300 cursor-default;
	}
	.action-button-block {
		@apply w-full;
	}

	.button-icon {
		@apply flex items-center justify-center border border-gray-300 w-fit h-fit px-2 py-px rounded-md shadow-gray-300 shadow-sm hover:shadow-md active:shadow-none cursor-pointer gap-1;
	}
	.button-icon > span {
		@apply font-bold text-base;
	}
	.button-icon > h5 {
		@apply font-semibold;
	}
	.button-icon-disabled {
		@apply bg-gray-300 cursor-auto;
	}

	.button-icon-info {
		@apply active:bg-gray-300 active:border-gray-300;
	}
	.button-icon-info > span,
	.button-icon-info > h5 {
		@apply text-info;
	}

	.button-icon-success {
		@apply active:bg-blue-100 active:border-blue-100;
	}
	.button-icon-success > span,
	.button-icon-success > h5 {
		@apply text-success;
	}

	.button-icon-primary {
		@apply active:bg-baseGreen/30 active:bg-baseGreen/30;
	}
	.button-icon-primary > span,
	.button-icon-primary > h5 {
		@apply text-primary;
	}

	.button-icon-danger {
		@apply active:bg-red-100 active:border-red-100;
	}
	.button-icon-danger > span,
	.button-icon-danger > h5 {
		@apply text-danger;
	}
}

@layer utilities {
	.previewContainer a {
		@apply text-link;
	}
	.previewContainer h1,
	.previewContainer h2,
	.previewContainer h3,
	.previewContainer h4 {
		@apply py-4;
	}

	.input-label {
		@apply text-sm mb-2 text-gray-500;
	}

	.icon-link-circle {
		@apply cursor-pointer hover:bg-gray-300 w-10 h-10 min-w-10 min-h-10 rounded-full flex items-center justify-center text-gray-500;
	}

	.item-menu {
		@apply flex gap-4 my-2 px-2 py-px items-center justify-start cursor-pointer rounded-full;
	}
	.item-menu h5,
	.item-menu h6 {
		@apply font-semibold text-gray-600;
	}
	.item-menu:hover h5,
	.item-menu:hover h6,
	.item-menu-focus h5,
	.item-menu-focus h6 {
		@apply text-baseGreen;
	}

	.text-link {
		@apply text-baseGreen font-semibold hover:underline cursor-pointer;
	}

	.text-link-danger {
		@apply text-red-500 font-semibold hover:underline;
	}
	.text-success {
		@apply text-blue-500;
	}
	.text-info {
		@apply text-gray-500;
	}
	.text-primary {
		@apply text-baseGreen;
	}
	.text-danger {
		@apply text-red-500;
	}

	.menu-link {
		@apply font-semibold text-gray-600 text-base hover:underline;
	}

	#tradingInstrumentLabel .text-container {
		@apply h-36 overflow-hidden;
	}

	#tradingInstrumentLabel .animated-text-container {
		@apply h-[96rem];
	}

	#tradingInstrumentLabel .animated-text {
		@apply h-12 text-3xl font-semibold text-green-950;
	}

	#tradingInstrumentDescription .text-container {
		@apply h-60 overflow-hidden;
	}

	#tradingInstrumentDescription .animated-text-container {
		@apply h-[480rem];
	}

	#tradingInstrumentDescription .animated-text {
		@apply h-60;
	}

	.carousel-container {
		@apply w-[300rem];
	}

	.carousel-items {
		@apply w-1/4;
	}

	#sidebar .outerContainer {
		@apply flex flex-col w-full h-full overflow-scroll;
	}
	.selected {
		@apply bg-baseGreen;
	}

	.cardItem {
		@apply w-full sm:max-w-xs hover:border-b-8 hover:border-baseGreen;
	}

	.rows-block-header {
		@apply flex w-full bg-white shadow-gray-300 shadow-xl rounded-md p-4 items-center justify-between gap-4;
	}
	.rows-block-header-left {
		@apply flex justify-between items-center gap-2;
	}
	.rows-block-header-right {
		@apply flex justify-between items-center gap-2;
	}
	.rows-block-header-nav {
		@apply flex items-center justify-between gap-2;
	}
	.rows-block-header-nav > h6 {
		@apply text-xs;
	}
	.rows-block-header-nav > a {
		@apply button-icon;
	}

	.rows-block {
		@apply flex flex-col w-full gap-2 bg-white shadow-gray-300 shadow-xl rounded-md p-4 cursor-pointer border-b-2 hover:border-baseGreen;
	}
	.rows-block > h4 {
		@apply font-bold;
	}
	.rows-block > p {
		@apply line-clamp-2;
	}
	.rows-block > h6 {
		@apply text-xs;
	}
	.rows-block > div {
		@apply flex justify-between items-end;
	}
	.rows-block > div > h6 {
		@apply subtext-success;
	}

	.form-block {
		@apply flex flex-col gap-2 bg-white shadow-gray-300 shadow-xl rounded-md py-4;
	}
	.form-block > h4,
	.form-block > div {
		@apply font-semibold px-4 text-gray-500;
	}
	.form-block-container {
		@apply flex flex-col bg-gray-100 gap-2 py-4;
	}

	.form-canvas {
		@apply flex w-full bg-white shadow-gray-300 shadow-xl rounded-md p-2 justify-center;
	}
	.form-canvas > div {
		@apply flex min-w-[48rem] min-h-[27rem] cursor-pointer justify-center;
	}
	.form-canvas img {
		@apply w-full object-cover max-w-screen-md max-h-[27rem];
	}
	.form-canvas input {
		@apply hidden;
	}

	.mybadge {
		@apply bg-gray-500 text-white w-fit py-1 px-2.5 flex rounded-full text-center items-center font-semibold text-xs;
	}
	.mybadge-xs {
		@apply bg-gray-500 text-white w-fit px-2.5 flex rounded-full text-center items-center font-semibold text-xs;
	}
	.mybadge-primary {
		@apply bg-baseGreen;
	}
	.mybadge-success {
		@apply bg-blue-500;
	}
	.mybadge-danger {
		@apply bg-red-500;
	}
}

/* custom style*/
.sidebar-sm {
	position: fixed;
	top: 0;
	z-index: 40;
	height: 100%;
	width: 100%;
	left: 2000px;
	background-color: white;
}

#heroPages > .imageContainer {
	display: flex;
	background-image: url("assets/img/logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

#heroPages > .imageContainer > img {
	object-fit: cover;
	min-width: 480px;
	/* width: 800px; */
	/* width: 100%; Ensure the image fills the container width */
	/* height: 100%; Ensure the image fills the container height */
	/* object-fit: cover; Maintain aspect ratio and cover container */
}

#heroImage {
	display: flex;
}

#promotionOverview img {
	max-height: 150px;
	width: 100%;
	object-fit: cover;
}

#promotionDetailContainer img {
	height: 100%;
	max-height: 50rem;
	width: 100%;
	object-fit: cover;
	margin: 2rem 0;
}

#downloadMetatrader img {
	/* max-width: 15rem; */
	/* min-width: 10rem; */
}

/* Loader */
.loader3 {
	width: 1rem;
	height: 1rem;
	border: 0.2rem solid #fff;
	border-bottom-color: #59b950;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader4 {
	width: 5rem;
	height: 5rem;
	margin-top: 75px;
	margin-bottom: 75px;
	border: 0.5rem solid #fff;
	border-bottom-color: #59b950;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.5s linear infinite;
}

.loader5 {
	width: 2rem;
	height: 2rem;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0.2rem solid #fff;
	border-bottom-color: #59b950;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.5s linear infinite;
}

.loaderSmall {
	width: 0.8rem;
	height: 0.8rem;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0.2rem solid #fff;
	border-bottom-color: #59b950;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loaderImg {
	width: 64px;
	height: 64px;
	position: relative;
	background: #c4c4c4;
	border-radius: 4px;
	overflow: hidden;
}
.loaderImg:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	transform: rotate(45deg) translate(30%, 40%);
	background: #59b950;
	box-shadow: 32px -34px 0 5px #59b950;
	animation: slide 2s infinite ease-in-out alternate;
}
.loaderImg:after {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #59b950;
	transform: rotate(0deg);
	transform-origin: 35px 145px;
	animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
	0%,
	100% {
		bottom: -35px;
	}
	25%,
	75% {
		bottom: -2px;
	}
	20%,
	80% {
		bottom: 2px;
	}
}
@keyframes rotate {
	0% {
		transform: rotate(-15deg);
	}
	25%,
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(25deg);
	}
}

/* #Loader */

/* Text Blinking */
.triple-blink {
	transition: color 0.3s ease-in-out;
	animation: none;
}

@keyframes blink {
	0%,
	30%,
	60%,
	90% {
		color: rgb(239 68 68);
	}
	15%,
	45%,
	75% {
		color: rgb(241 245 249);
	}
	100% {
		color: rgb(239 68 68);
	}
}
/* #Text Blinking */

.featureBox > img {
	max-width: 100px;
	max-height: 100px;
}

.sidebar {
	width: 30rem;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -50rem;
	z-index: 50;
	backdrop-filter: blur(10rem);
	/* background-color: white; */
	transition: 0.2s;
}

.heroCtaButton {
	/* position: absolute;
	left: 30%;
	bottom: 30%;
	transform: translate(-50%, -50%); */
	position: relative;
	left: 10%;
	/* bottom: 30%; */
}

@media (min-width: 1280px) {
	.sidebar {
		display: none;
	}
}

@media (max-width: 640px) {
	.sidebar {
		width: 100%;
		right: -50rem;
	}
	/* #hero > .imageContainer > img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: left center;
	} */
}

.underline-50 {
	position: relative;
}

.underline-50::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%; /* Adjust the width to create a 50% underline */
	height: 6px; /* Set the desired height for the underline */
	background-color: hsl(115, 43%, 52%);
}

#drawer {
	width: 13rem;
	min-width: 3rem;
	transition: width 0.1s ease-in-out;
}

#imageDataContainer img {
	height: 100%;
	max-height: 50rem;
	width: 100%;
	object-fit: cover;
	margin: 2rem 0;
}

.alert-block {
	margin-bottom: 0.5rem;
	border-radius: 0.375rem;
	min-height: 2rem;
	align-items: center;
	padding: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	display: none;
}

.alert-block-danger {
	background-color: rgb(254 226 226);
	border: solid 1px rgb(254 202 202);
	color: rgb(239 68 68);
}
.alert-block-success {
	background-color: rgb(219 234 254);
	border: solid 1px rgb(191 219 254);
	color: rgb(59 130 246);
}
